:root
{
  background-image: url("/background.png") !important;
  overscroll-behavior: none;
}

body
{
  /* image and scroll behaviour to main html content */
  scroll-behavior: smooth;
  background-image: url("/background.png") !important;
}

/* -- logos */
@keyframes marqueeRight
{
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0%);
  }
}

/* Custom Scrollbar Styling */
::-webkit-scrollbar
{
  width: 10px;              /* scrollbar width */
}

::-webkit-scrollbar-track
{
  background: #0f172a;      /* dark background  */
}

::-webkit-scrollbar-thumb
{
  background-color: #00ffeb;
  border-radius: 10px; /* rounded corners */
  border: 2px solid #0f172a; /* space around the thumb */
}

::-webkit-scrollbar-thumb:hover
{
  background-color: #00eaff; /*  on hover */
}

/* Firefox settings */
*
{
  scrollbar-width: thin;
  scrollbar-color: #00ffda #0f172a;
}
/*--------------</custom css here>-------------- */
